.navbar {
  background-color: #0b3c5d;
  color: #fff;
  padding: 5px 5px;
}

.navbar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-logo-container {
  display: flex;
  text-decoration: none;
  align-items: center;
  height: 60px;
}

.navbar-logo-image {
  height: 60px;
  width: 60px;
  margin-right: 10px;
  border-radius: 3px;
}

.navbar-logo-image:hover {
  transform: scale(1.1);
  background-color: #94d886;
}

.navbar-logo-text {
  font-size: 1.75rem;
  font-weight: bold;
  color: #ecf0f1;
}

.navbar-logo-text:hover {
  color: #b3b6b7;
}

.navbar-menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin: 0 10px 0 30px;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: normal;
  transition: color 0.2s;
}

.navbar-link:hover {
  color: #94d886;
}
